* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.5s;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar {
  width: 100%;
  margin-left: 0;
  position: fixed;
  top: 0;
}
nav {
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 85%;
  left: 0;
  margin-left: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 10px 20px;
}
nav ul {
  display: flex;
}
nav ul li {
  margin: 0 25px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
nav ul li a:hover {
  color: #4646ff;
}
header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./assets/images/download3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}
header div {
  width: 60%;
  text-align: center;
  color: #fff;
}

header div h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}
.menu {
  display: none;
}
header div h1 {
  margin: 0;
  font-size: 6rem;
}
header div p {
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.5;
}
header div button {
  margin: 10px 0;
  background-color: #ffba3a;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 25px;
  cursor: pointer;
}
header div button:hover {
  background-color: #ee9e0a;
}

@media (max-width: 600px) {
  nav {
    width: 100%;
    margin-left: 0;
    z-index: 2;
  }
  .menu {
    display: block;
    font-size: 1.8rem;
  }
  nav ul {
    flex-direction: column;
    position: fixed;
    display: flex;
    background-color: #fff;
    width: 100%;
    left: 0;
    padding: 10px 10px;
  }
  nav ul li {
    margin: 15px 0;
  }
  nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }
  nav ul li a:hover {
    color: #4646ff;
  }

  header div {
    width: 95%;
    text-align: center;
    color: #fff;
  }

  header div h3 {
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
  header div h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
  }
  header div p {
    font-size: 16px;
  }
}
